table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}



.globalSearch {
    text-align: center;
    background: orange;
    padding: 10px;
    font-size: 20px;
}
.globalSearch input {
    width: 250px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    margin: 0px 10px;
}

button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.pageSelection{
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 15px 0px 5px;
}